body {
    padding: 0px;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;   
    background-color: #597d9e;  
}

.card{
    margin: 5px;
}